{% extends 'base.html.twig' %}

{% block title %}Szczegóły ogłoszenia - AdsBoard{% endblock %}

{% block body %}
{{ parent() }}
<main>
    <h1 class="h1">Szczegóły ogłoszenia</h1>
    <div class="container">
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger text-center">
            {{ message }}
        </div>
    {% endfor %}
    {% if ad %}
    <table class="table">
    <thead>
        <tr>
        <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="property-name">ID</td>
            <td>{{ ad.id }}</td>
        </tr>
        <tr>
            <td class="property-name">Nazwa produktu</td>
            <td>{{ ad.name }}</td>
        </tr>
        <tr>
            <td class="property-name">Cena</td>
            <td>{{ ad.price }}</td>
        </tr>
        <tr>
            <td class="property-name">Opis</td>
            <td>{{ ad.description }}</td>
        </tr>
    </tbody>
    </table>
    {% endif %}
    </div>
</main>
{% endblock %}
