{% extends 'base.html.twig' %}

{% block title %}Wyszukiwarka ogłoszeń - AdsBoard{% endblock %}

{% block body %}
{{ parent() }}
<main>
    <h1 class="h1">Wyszukiwarka ogłoszeń</h1>
    <div class="container">
    {{ form_start(form) }}
    <div class="row mb-3">
        {{ form_label(form.name, null, {'label_attr':{'class':'col-sm-3 col-form-label'}}) }}
        <div class="col-sm-9">{{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}</div>
    </div>
    <div class="row mb-3">
        {{ form_label(form.min_price, null, {'label_attr':{'class':'col-sm-3 col-form-label'}}) }}
        <div class="col-sm-9">{{ form_widget(form.min_price, {'attr':{'class':'form-control'}}) }}</div>
    </div>
    <div class="row mb-3">
        {{ form_label(form.max_price, null, {'label_attr':{'class':'col-sm-3 col-form-label'}}) }}
        <div class="col-sm-9">{{ form_widget(form.max_price, {'attr':{'class':'form-control'}}) }}</div>
    </div>
    <div class="row mb-3">
        {{ form_label(form.description, null, {'label_attr':{'class':'col-sm-3 col-form-label'}}) }}
        <div class="col-sm-9">{{ form_widget(form.description, {'attr':{'class':'form-control'}}) }}</div>
    </div>
    <div class="mb-2 text-center">
        <span>{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary', 'type': 'button'}}) }}</span>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
    </div>
    <div class="container-search text-center">
    {% if ads %}
    {% set count = ads | length %}
    Znaleziono {{ count }} {% if count == 1 %}ogłoszenie{% elseif count < 5 %}ogłoszenia{% else %}ogłoszeń{% endif %} o podanych kryteriach.<br><br>
    {% for ad in ads %}
    <div class="ad">
        <div class="ad-name">{{ ad.name }}</div>
        <div><b>Opis:</b>&nbsp;{{ ad.description }}</div>
        <div class="left-right">
            <span><b>Cena:</b>&nbsp;{{ ad.price }}&nbsp;zł</span>
            <a class="btn btn-secondary btn-sm szczegoly-btn" href="{{ path('ad_display', {id: ad.id}) }}">Szczegóły&nbsp;&gt;&gt;</a>
        </div>
    </div>
    {% endfor %}
    {% elseif criterias %}
    Nie znaleziono ogłoszeń o podanych kryteriach.
    {% endif %}
    </div>
</main>
{% endblock %}
