{% extends 'base.html.twig' %}

{% block title %}API - AdsBoard{% endblock %}

{% block body %}
{{ parent() }}
<main>
    <h1 class="h1">API</h1>
    <article>
        <p>API udostępnia następujące możliwości:
        <ul>
            <li>Wyświetlenie ogłoszenia o podanym {id}
                <pre>GET {{ absolute_url(path('api_ad_display', {id: '{id}'})) | replace({'%7B':'{', '%7D':'}'}) }}</pre>
            </li>
            <li>Dodawanie ogłoszenia o podanej nazwie {name}, cenie {price} i opisie {description}
                <pre>POST {{ absolute_url(path('api_ad_add')) }}?name={name}&price={price}&description={description}</pre>
            </li>
            <li>Wyszukiwanie ogłoszeń, które spełniają dane kryteria (brak kryteriów zwróci wszystkie ogłoszenia)<br>
                - name={name} - wyszukaj ogłoszenia, które w nazwie zawierają tekst {name}<br>
                - min_price={min_price} - wyszukaj ogłoszenia, których cena to minimum {min_price}<br>
                - max_price={max_price} - wyszukaj ogłoszenia, których cena to maksimum {max_price}<br>
                - description={description} - wyszukaj ogłoszenia, które w opisie zawierają tekst {description}
                <pre>GET {{ absolute_url(path('api_ad_search')) }}?name={name}&min_price={min_price}&max_price={max_price}&description={description}</pre>
            </li>
        </ul>
        Dane zwracane są w formacie json. <b>Uwaga! Aby korzystać z API wymagana jest autoryzacja poprzez token. Token należy przesłać jako header (Authorization: Bearer {token}).</b>
        </p>
        <button id="tokenBtn" class="btn btn-primary">Generuj API token</button>
        <pre id="tokenPre"></pre>
    </article>
</main>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(document).ready(function() {

    $('#tokenBtn').click(function(){
        $.ajax("{{ path('token') }}", {
        type: 'POST',
        data: {},
        success: function(data, status, xhr){
            $('#tokenPre').text(data);
        }
    });
    });

    
});
</script>
{% endblock %}